@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-ons-blue: #003C57;
  --color-ons-link: #206095;
  --color-ons-accent: #0F8243;
  --color-ons-bg: #F0F3F5;
  --color-ons-border: #BCBFC2;
  --color-ons-text: #323132;
}

@layer base {
  body {
    @apply bg-ons-bg text-ons-text;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}
